<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <title>RPN CALCULATOR</title>
</head>

<body>

    {% block content %}
    <header class="header header--loggedIn">
        <div class="container">
            <a href="{% url 'home' %}" class="header__logo">
                <img src="{% static 'images/logo.svg' %}" />
                <h1>Yassine Nifa Candidature</h1>
            </a>
        </div>
    </header>

    <p class="text__home">You can click to this link to get access to the <a href="{% url 'home' %}"> RPN calculator application</a></p>


    {% endblock %}

    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>